/**
 * 按钮
 */
.btn{
	display: inline-block;
}

.btn-addattenion{
	@extend .btn;
	width: 1.05rem;
	height: .42rem;
	@include box-sizing(border-box);
	border: 1px solid $c2;
	border-radius: .03rem;
	font-size: .27rem;
	color: $c2;
	line-height: .42rem;
	text-align: center;
}

.btn-added-attenion{
	@extend .btn;
	width: 1.05rem;
	height: .42rem;
	@include box-sizing(border-box);
	border: 1px solid $c4;
	border-radius: .03rem;
	font-size: .27rem;
	color: $c4;
	line-height: .42rem;
	text-align: center;
}

.btn-addattenion-radius{
	@extend .btn;
	width: 1.02rem;
	height: .36rem;
	@include box-sizing(border-box);
	border-radius: .1rem;
	font-size: .28rem;
	color: $c1;
	line-height: .36rem;
	text-align: center;
	background-color: $c2;
}

.btn-get-coupons{
    width: 1.2rem;
    height: .36rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #000;
    font-size: .25rem;
    line-height: .36rem;
    text-align: center;
    border-radius: .02rem;
    color: #000;
}

.btn-geted-coupons{
    width: 1.2rem;
    height: .36rem;
    font-size: .25rem;
    line-height: .36rem;
    text-align: center;
    border-radius: .02rem;
    color: #fff;
    background-color: #333333;
}