@import 'loading';

/**
 * 加载更多
 */
.load-more{
	position: relative;
	height: .6rem;
	background-color: $c1;

	.loading{
		@include center(absolute);
	}
}

/**
 * 全屏加载等待
 */
.load-fullscreen{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 200;

	.loading{
		@include center(absolute);
	}
}

/**
 * 搭配加载loading
 */
.coll-load{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

	.loading{
		@include center(absolute);
	}
}