.remind{
	background: rgba(0, 0, 0, 0.5);
	padding: 0.15rem;
	color: #fff;
	border-radius: 0.1rem;
	position: fixed;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 110;
	font-size: 0.3rem;
}

.coupons_remind{
	position: fixed;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 110;
	min-width: 2.9rem;
	padding: 1.12rem 0.1rem 0.24rem 0.1rem;
	background: rgba(0, 0, 0, 0.5);
	border-radius: .1rem;
}
.coupons_remind i{
	display: block;
	width: 0.68rem;
	height: 0.68rem;
	position: absolute;
	left: 50%;
	top: 0.22rem;
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	background: url(../images/redm_sprites.png) no-repeat;
	background-size: 4rem 4rem;
}
.coupons_remind i.coupons_seccess{
	background-position: -1rem -3.09rem;
}
.coupons_remind i.coupons_faild{
	background-position: -1.86rem -3.09rem;
}
.coupons_remind p{
	color: #fff;
	font-size: 0.36rem;
	text-align: center;
	line-height: normal;
}