.act-timer-wrap{
	padding: .05rem .08rem .08rem .08rem;
	display: inline-block;

	&.ing{
		background: #f53c39 url(../images/timer-left-top.jpg) no-repeat left top;
		background-size: .25rem auto;

		.num{
			color: #f53c39;
		}
	}

	&.will{
		background: #adadad url(../images/will.jpg) no-repeat left top;
		background-size: .25rem auto;

		.num{
			color: #adadad;
		}
	}

	.title{
		font-size: .2rem;
		color: #fff;
		line-height: 1;
		text-align: center;
		padding-bottom: .05rem;
		border-bottom: 1px solid #fff;
	}

	.timer-box{
		padding-top: .06rem;
		font-size: 0;
		white-space: nowrap;
		width: 1.44rem;
		@include clearfix();

		.num{
			text-align: center;
			background-color: #fff;
			height: .33rem;
			width: .33rem;
			font-size: .2rem;
			line-height: .33rem;
			border-radius: .02rem;
		}

		.f{
			width: .22rem;
			height: .33rem;
			color: #fff;
			font-size: .2rem;
			text-align: center;
			line-height: .33rem;
		}
	}
}