@mixin border1px-common() {
	position: absolute;
	content: '';
	z-index: 10;
}

.best-brand{
	.brand-wraper{
		overflow: visible;
		margin-top: .29rem;

		.brand-pagination{
			font-size: 0;
			top: -.29rem;
			height: .09rem;
		}

		.swiper-pagination-bullet{
			width: .07rem;
			height: .07rem;
			background: #8e8e8d;
			opacity: 1;
			vertical-align: middle;

			&.swiper-pagination-bullet-active{
				width: .17rem;
				height: .09rem;
				background: url(../images/brand-active.png) no-repeat center center;
				background-size: 100% 100%;
				border-radius: 0;
			}
		}
	}

	h2{
		color: #6d6d6d;
		text-align: center;
		font-size: .25rem;
		padding: .2rem 0;
		line-height: 1;
		font-weight: lighter;
	}

	.row{
		@include clearfix();
	}

	.col{
		width: 25%;
    	float: left;
    	position: relative;

    	&::before{
			@include border1px-common();
			border-right-width: 1px;
			border-right-style: solid;
			right: 0;
			width: 1px;
			top: 0;
			height: 100%;
			@include scaleX(.5);
		}

		&::after{
			bottom: -1px;
			left: 0;
			height: 1px;
			width: 100%;
			@include scaleY(.5);
			@include border1px-common();
			border-bottom-width: 1px;
			border-bottom-style: solid;
		}
	}

	a{
		display: block;
		width: 100%;
	}

	.logo-wrap{
		height: .61rem;
		font-size: 0;
		@include box-sizing(border-box);
		padding-top: .13rem;
		// text-align: center;

		img{
			display: block;
			width: .68rem;
			margin: 0 auto;
		}
	}

	.name{
		font-size: .18rem;
		color: #949493;
		text-align: center;
		line-height: 1;
		padding-bottom: .2rem;

		span{
			color: #c81522;
		}
	}
}