.act-title-wrap{
	padding: .3rem 0 .3rem 1.15rem;
	position: relative;

	p{
		font-size: .25rem;
		color: #000;
		line-height: 1;
	}

	.btn-get-coupons, .btn-geted-coupons{
		position: absolute;
		right: .25rem;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	img{
		width: .72rem;
		height: .34rem;
		position: absolute;
		left: .26rem;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}