.hot-item{
	a{
		display: block;
	}

	.img-wraper{
		height: 2.48rem;
	}

	.decription {
	    font-size: .25rem;
	    color: #000;
	    padding: .2rem .5rem .2rem .18rem;
	    position: relative;
	    line-height: 1;
	    @include text-overflow();

	    .icon-hot-arrow-right {
		    position: absolute;
		    top: 50%;
		    @include translate(0, -50%);
		    right: .18rem;
		}
	}
}