/**
 * 首页导航
 */
.red-nav-box{
	background: #fff;
	position: relative;
	height: 0.67rem;
	padding-left: 1.48rem;
	z-index: 1000;

	&.fix-top{
		position: fixed;
		top: 0;
	    left: 0;
	    z-index: 100;
	    width: 100%;
	}
	
	.nav-fix-item{
		position: absolute;
	    left: 0;
	    top: 0;
	    height: 0.67rem;
	    padding: 0 0.2rem;
	    @include box-sizing(border-box);
	    width: 1.48rem;
	    overflow: hidden;
	    z-index: 100;

	    a{
	    	display: block;
			font-size: 0.27rem;
			color: #babdc5;
			height: 0.67rem;
			line-height: 0.67rem;
			text-decoration: none;
			text-align: center;
			white-space: nowrap;
	    }
	}

	&.fix-item-active{
		.nav-fix-item{
			a{
				color: #c81522;
			    position: relative;
			    font-size: .27rem;
			}
		}

		.nav-active-slider{
			position: absolute;
			height: 0.04rem;
			background: #c81522;
			bottom: 0;
			left: 0;
			width: 100%;
		}
	}

	.new{
		display: inline-block;
		width: 0.34rem;
		height: 0.16rem;
		position: absolute;
		margin-left: -0.34rem;
		margin-top: 0.03rem;
		border-radius: 0.02em;
		background: url(../images/redm_sprites.png) no-repeat;
		background-size: 4rem 4rem;
		background-position: 0 0;
	}

	.red-mobile-nav{
		height: 0.67rem;
		background: #fff;

		&.nav-fixed{
			position: fixed;
			top: 0;
			z-index: 2;
		}

		&.nav-fixed.hide{
			opacity: 0;
			z-index: -1;
		}

		.nav-active-slider{
			position: absolute;
			height: 0.04rem;
			background: #f9384e;
			bottom: 0;
			left: 0;
			width: 100%;
			display: none;
		}
		
		li{
			padding: 0 0.12rem;
			float: left;
			width: auto;

			&.active{
				.nav-active-slider{
					display: block;
				}

				a{
					color: #fff;
					position: relative;
					font-size: .3rem;
				}
			}

			&.pl0{
				padding-left: 0;
			}

			&.np{
				padding: 0;
			}

			&.pr0{
				padding-right: 0;
			}

			img{
				display: block;
				height: 100%;
				width: auto;
			}

			a{
				display: block;
				font-size: 0.27rem;
				color: #6d6d6d;
				height: 0.67rem;
				line-height: 0.67rem;
				text-decoration: none;
			}
		}
	}
}