@media screen and (min-width: 768px){
	.red-page.mobile{
		.red-nav-box{
			height: .46rem;
			padding-left: 1rem;

			.red-mobile-nav{
				height: .46rem;
				li{
					padding: 0 .21rem;

					a{
						font-size: .14rem;
						line-height: .46rem;
						height: .46rem;
					}
				}
			}
			
			.nav-fix-item{
				height: .46rem;
				width: 1rem;
				padding: 0 .21rem;

				a{
					height: 100%;
					line-height: .46rem;
					font-size: .14rem;
				}
			}
		}
	}
}