.notify-item{
	width: 50%;
	@include box-sizing(border-box);

	a{
		display: block;
	}

	.img-wraper{
		height: 2.9rem;
    	position: relative;
	}

	.logo-mask {
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    left: 0;
	    top: 0;
	    background: rgba(0,0,0,.5);

	    .mask-con {
	    	position: absolute;
    		left: 50%;
		    top: 50%;
		    -webkit-transform: translate(-50%,-50%);
		    transform: translate(-50%,-50%);

		    .goods-logo {
			    padding-bottom: .17rem;
			    font-size: 0;
			    text-align: center;
			    position: relative;

			    img{
			    	width: 1.55rem;
    				height: .5rem;
			    }

			    .short-line {
			    	position: absolute;
    				left: 50%;
				    width: .3rem;
				    bottom: 0;
				    margin-left: -.15rem;
				    height: .04rem;
				    background: #fff;
				}
			}

			.preferential {
			    font-size: .2rem;
			    color: #fff;
			    padding-top: .15rem;
			    min-height: .22rem;
			    text-align: center;
			}
		}
	}

	.goods-describle {
	    font-size: .24rem;
	    color: #000;
	    text-align: center;
	    padding: .2rem 0;
	    height: .24rem;
	    line-height: .24rem;
	}

	.btn-wraper {
	    font-size: 0;
	    padding-bottom: .2rem;
	    text-align: center;

	    .schedule-btn {
		    padding: .17rem 0 .08rem;
		    width: 1.38rem;
		    font-size: .2rem;
		    background: #fff;
		    text-align: center;
		    line-height: 1;
		    position: relative;
		    display: inline-block;

		    &.red{
		    	background: url(../images/notify-red.png) no-repeat #fff;
			    background-size: 100% 100%;
			    color: #fb2627;
		    }

		    &.gray{
			    background: #fff url(../images/notify-gray.png) no-repeat;
			    background-size: 100% 100%;
			    color: #666666;
			}
		}
	}
}