.price-msg{
	font-size: 12px;
    padding: 0 .15rem .2rem;
    text-align: justify;
    color: #6e6f71;
    line-height: 15px;
    background-color: #fff;

    &.pb95{
		padding-bottom: .95rem;
    }
}