.red-actlist{
	.red-actlist-title{
		text-align: center;
	    line-height: 1;
	    color: #313131;
	    padding: 0rem .6rem;
	    background: #fff;
	    // height: .47rem;

	    .inner{
	    	position: relative;
    		height: 100%;
    		text-align: center;
	    }

	    p{
		    // position: absolute;
		    /*height: .32rem;*/
		    font-size: .25rem;
		    /*background: url(../images/new-title.png) no-repeat center center;
		    background-size: auto .45rem;*/
		    line-height: 1;
		    // left: 50%;
		    // top: 50%;
		    // -webkit-transform: translate(-50%, -50%);
		    // transform: translate(-50%, -50%);
		    // z-index: 100;
		    background-color: #fff;
		    padding: .2rem .27rem;
		    white-space: nowrap;
		    color: #6d6d6d;
		    font-weight: lighter;
		}

		span{
		    display: inline-block;
		    padding: 0 .12rem;
		    position: absolute;
		    left: 50%;
		    top: 50%;
		    -webkit-transform: translate(-50%, -50%);
		    transform: translate(-50%, -50%);
		    z-index: 11;
		    background: #fff;
		}

		.line{
		    position: absolute;
		    top: 50%;
		    left: 0;
		    right: 0;
		    -webkit-transform: translateY(-50%);
		    transform: translateY(-50%);
		    z-index: 1;

		    &::after{
			    height: 1px;
			    content: '';
			    width: 100%;
			    border-bottom: 1px solid #dddddd;
			    position: absolute;
			    bottom: 0;
			    right: 0;
			    z-index: 10;
			}
		}
	}

	.statistics{
		font-size: .18rem;
		color: #999999;
		text-align: center;
		background-color: #fff;
		padding-bottom: .2rem;

		span{
			padding-left: .2rem;
			color: #c81522;

			&.a{
				padding-right: .36rem;
			}
		}
	}
}