.filter-wrap{
	font-size: 0;
	height: .83rem;
	background-color: #cd2935;

	&.fixed{
		position: fixed;
		width: 100%;
		z-index: 1000;
		left: 0;
	}

	.filter{
		li{
			width: 1.42rem;

			&.active{
				background: url(../images/filter-active.jpg) no-repeat left top;
				background-size: 100% 100%;
			}

			a{
				font-size: .2rem;
				color: #fff;
				display: block;
				width: 100%;
				height: 100%;
				padding-top: .49rem;
				-webkit-box-sizing:border-box;
			    box-sizing:border-box;
			    text-align: center;
			}

			&.all{
				a{
					background: url(../images/all.png) no-repeat center .13rem;
					background-size: auto .29rem;
				}
			}

			&.dress{
				a{
					background: url(../images/dress.png) no-repeat center .13rem;
					background-size: auto .29rem;
				}
			}

			&.shoe{
				a{
					background: url(../images/pac.png) no-repeat center .13rem;
					background-size: auto .29rem;
				}
			}

			&.motion{
				a{
					background: url(../images/motion.png) no-repeat center .13rem;
					background-size: auto .29rem;
				}
			}

			&.home{
				a{
					background: url(../images/home.png) no-repeat center .13rem;
					background-size: auto .29rem;
				}
			}

			&.child{
				a{
					background: url(../images/child.png) no-repeat center .13rem;
					background-size: auto .29rem;
				}
			}

			&.extravagant{
				a{
					background: url(../images/shechi.png) no-repeat center .13rem;
					background-size: auto .29rem;
				}
			}
		}
	}
}