body, html{
  font-family: Helvetica, sans-serif;
  background-color: #262626;
}
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,address,big,cite,code,del,em,font,img,ins,small,strong,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{margin:0;padding:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary{display: block;}
audio, canvas, progress, video{display: inline-block;; vertical-align: baseline;}
img{border:0; vertical-align: middle;}
a, a:link{color: #333; text-decoration: none;}
a:hover{color: #333; text-decoration: underline;}