$c1: #ffffff !default;
$c2: #3b3b3b !default;
$c3: #ff2d54 !default;
$c4: #a3a3a3 !default;
$c5: #efefef !default;
$c6: #969696 !default;
$c7: #f6f6f6 !default;
$c8: #000000 !default;
$c9: #dddddd !default;
$c10: #efefef !default;
$c11: #fa5164 !default;
$c12: #000000 !default;
$c13: #a4a4a4 !default;
$c14: #f4f4f4 !default;
$c15: #ff2d54 !default;
$c16: #3c3c3c !default;
$c17: #939393 !default;
$c18: #dadada !default;
$c19: #d5d5d5 !default;
$c20: #f0f0f0 !default;